*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;

}
*h1{
  font-family:cormorant;

}
.container{
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.notification {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
}
.tophead{
  display: none;
}
.hamburger{
display: none;}
.tophead { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

#searchbar {
    display: none;

  max-width: 200px;
padding-left: 30px;  input[type=text],
  select {
font-family: inherit;
    padding: 12px;
    margin-top: 8px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
  }
  ;
}


#logo {
padding-left: 90px;
  display: none;
}

.rightbar {
    display: none;
  padding-right: 20px;
}

#icons {
  display: flex;
padding-top: 15px;
  gap: 15px;
}

#icons i {
  font-size: 20px;
  cursor: pointer;
}

.checkout {
  padding: 15px 30px;
background-color: black;
  color: white;
  cursor: pointer;
  border: 1px solid #746e6e8c;
  transition: 1s;
  font-weight: bold;
  font-size: 15px;

}

.checkout:hover {
  background: white;
  color: black;

}

nav {
  display: none;
  border: none;
  border-bottom: 2px solid gainsboro;
  padding-bottom: 5px;
color: #222222;

}

.navcnt {
list-style-type: none;
  overflow: hidden;
  background-color: white;}

.navcnt li{
  float: left;

}
 
li a,.dropbtn {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
font-size: 1.148rem;
}

.navcnt li a:hover,
.dropdown:hover .dropbtn {
  display: flex;
}

.navcnt li.dropdown {
  display: inline-block;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: wavy;
  display: block;
  padding: 10px 15px;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.lowhead {
  display: none;
  justify-content: space-evenly;
  padding: 15px;
  border: none;
  border-bottom: 2px solid gainsboro;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #7d7d7d;
  font-size: small;}
.hero {
  width: 100%;
  max-width: 1200px; /* match your container width */
  height: auto;
}

.hero img {
  width: 100%;
  height: auto;
  display: block; /* removes small extra gap from inline images */
  object-fit: cover; /* keeps proportion while filling width */
}

#COLLECTION {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}
#COLLECTION h1 {
  font-size: 2.0rem;
}
#COLLECTION p{
  font-size: larger;
line-height: 30px;

} 
.collection-product {
  display: flex;
  flex-wrap: wrap; /* allows images to move to next line on small screens */
  justify-content: center; /* center items evenly */
  gap: 20px; /* adds equal space between all items */
  padding-bottom: 20px;
}

.collection-product div {
  flex: 1 1 300px; /* responsive width for each item */
  max-width: 380px;
  text-align: center; /* center buttons under images */
}

.collection-product img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px; /* optional, for smoother look */
  object-fit: cover;
}

.shop {
  margin-top: 15px; /* smaller, consistent spacing */
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 12px 35px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.shop:hover {
  background-color: black;
  color: white;
}

.banner1 {
  padding-top: 2em;
  width: 100%;
  max-width: 1200px;
  height: auto;  
}
.banner1 img{
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.banner2 {
  width: 100%;
  max-width: 1200px;
  height: auto;
  padding-top: 2em;
}
.banner2 img{
width: 100%;
height: auto;
display: block;
object-fit: cover;
}

.Browse h1{
  text-align: center;
  padding: 20px;
}
.Browse p{
  text-align:center;
  font-family:lato;
  color: grey;
  font-size: 0.833rem;
}

.modaabout {
  display: flex;
  flex-direction: row;
  border: none;
  border-top: 1px solid #dddddd;


}
.abttxt h2{
  padding: 20px;
font-family:serif;
font-size: 1.5em;
font-weight: normal;
}
.abttxt p{
padding-bottom: 25px;
   text-align:left;
   font-family: sans-serif;
   color: grey;font: size 2px;
   line-height: 1.5rem;
}
.abttxt h3{
  padding-bottom: 25px;
  font-family:serif 
  font-size 1.5em;
font-weight: normal;
}
.abttxt {
  text-align: left;
  padding: 24px;

  input[type=text],
  select {
    padding:10px;
     width: 50%;
  }
}
.abtimg {
  width: 100%;
  height: 100%;
  margin-top: 40px 
}
/* CSS (add to your stylesheet) */

.Browse { margin-bottom: 1rem; }

/* category link row */
.category-row {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
justify-content: center;
line-height:100px;
}
.category-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 6px 10px;
  font-family: "cormorant";
  color: #919191;
  font-size: 19px;
}
.category-btn.active {
  text-decoration: underline;
  color: #111;
}
.sep { color: #666; padding: 0 6px; }

/* Swiper container wrapper visibility */
.swiper-container { display: none; }
.swiper-container.active { display: block; }

/* Your existing styles, slightly adjusted with units */
.swiper {
  width: 100%;
  height: 100%;
      max-height: 250px;

  background: white; /* optional */
}

.swiper-wrapper { align-items: stretch; }

.swiper-slide {
  height: 100%;
        max-height: 250px;

  display: block; /* removes vertical centering gap */
  overflow: hidden;
}

.swiper-slide img {
  display: block;
  width: 100%; 
  max-width: 1200px;
  height: 100%;
    max-height: 250px;

  object-fit: cover;
}

/* Navigation arrows style (default Swiper classes) */
.swiper-button-prev,
.swiper-button-next {
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgba(0,0,0,0.5);
  color: #fff;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 14px;
}




.social {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  gap: 10px;
  list-style: none;
  padding-bottom: 30px;
}

.social li {
  position: relative;
  flex-basis: 2.5rem;
}

.social li::after {
  position: absolute;
  /* content: "Tooltip"; */
  content: attr(data-tooltip);
  inset: -45% auto auto 50%;
  z-index: -1;
  translate: -50%;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  color: #fff;
  /* background: #070707; */
  background: var(--bg, #070707);
  border-radius: 0.25rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /* transition: all 0.3s ease-in-out; */
  transition: inset 0.4s cubic-bezier(0.47, 2, 0.41, 1.5),
    visibility 0.3s ease-in-out, opacity 0.2s ease-in-out;
}

.social li:has(a:hover, a:focus-visible)::after {
  opacity: 1;
  visibility: visible;
  inset-block-start: -60%;
}

.social a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  font-size: 1rem;
  color: #070707;
  border: 1px solid;
  border-radius: 100%;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
}

.social a>i {
  position: relative;
  z-index: 1;
}

.social a::after {
  position: absolute;
  content: "";
  inset: 100% 0 0;
  /* background: #070707; */
  background: var(--bg, #070707);
  pointer-events: none;
  transition: inset 0.3s ease-in-out;
}

.social a:hover,
.social a:focus-visible {
  color: #fff;
}

.social a:hover::after,
.social a:focus-visible::after {
  inset-block-start: 0;
}

.cdcd-icon {
  font-size: 25px;
  padding-right: 5px;
}
.mdiv{
  border: none;
    border-top:1px solid #dddddd;
padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.leftdiv{
  display: flex;
  flex-direction: row;
  gap: 90px;
  justify-content: space-evenly;
  padding: 0%;
}

.help ul{
  list-style-type: none;
  line-height: 30px;
  color: grey;
  cursor: pointer;
 }
 .page ul{
list-style-type: none;
line-height: 30px;
display: block;
color: grey;
 }
 .info ul{
  list-style-type: none;
  line-height: 30px;
  color: grey;
 }

 .rightdiv {
  white-space: wrap;
     input[type=text],
  select {
    padding-top:10px;
     padding-right: 80px;
     padding-bottom: 10px;
     padding-left: 10px;
  }
  }
 
  .rightdiv h2{
    padding-bottom: 15px;
  }
  .rightdiv p{
line-height: 21.5px;
font-size: 12px;
  }




  @media screen and (max-width: 750px)
  {
    .tophead{
      display: block;
    }
    #notification{
      padding: 8px;
text-align: center;
    }
   #logo{
    display:block;
    padding: 0;
    align-items: center;
    
   } 
   .lowhead{
display: none;  


 }
 nav{
  display: block;
  
}
.hamburger {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  background-color: #fff;
  padding: 10px 0;
  border-top: 1px solid #ddd;
}

.menu-item {
  display: flex;
  flex-direction: column; 
  align-items: center;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}
.navcnt{
  display: none;
}

.menu-item i {
  font-size: 20px;
  margin-bottom: 4px;
}

.menu-item:hover {
  color: grey;
}

.icontext {
  font-size: 12px;
  text-transform: capitalize;
}

  .collection-product {
    flex-direction: column; /* Stack the images vertically */
    align-items: center; /* Center items horizontally */
    gap: 20px; /* Space between each product */
  }

  .collection-product div {
    width: 90%;  
    text-align: center;
    padding: 20px;
  }

  .collection-product img {
    width: 100%;  
    height: auto;
  }

  .shop {
    margin-top: 15px;  
    padding: 12px 40px; 
  }

  #COLLECTION h1 {
    font-size: 1.5rem;  
  }

  #COLLECTION p {
    font-size: small;
  }

  
.modaabout{
  flex-direction: column;
}

.abttxt {


  input[type=text],
  select {
    padding:10px;
     width: 100%;
  }


}
.abttxt h2{
  text-align: center;

}
h3{
  text-align: center;
  
}

.mdiv{
  flex-direction: column;
}
.rightdiv {
  padding: 30px;
white-space: wrap;
     input[type=text],
  select {
    padding:10px;
     width: 100%;
     text-align: left;
  }
}
.rightdiv h2{
  text-align: center;
}

  }
@media only screen and (max-width: 1024px) and (min-width: 750px) {
   


  #searchbar{
    display: block;
  }
  #logo
  {
    display: block;
  }
  .rightbar{
    display: block;
    display: flex;
  }

  nav{
  display: block;
  flex-direction: row;
}
.navcnt{
  display: flex;
    flex-wrap: nowrap;

}

 
.modaabout{
  flex-direction: column;
}
.abtimg {
  width: 100%;
  height: 100%;
}
.abttxt h2{
  text-align: center;

}
h3{
  text-align: center;
  
}
.abttxt {

text-align: center;
  input[type=text],
  select {
    justify-content: center;
     width:50%;
  }

  
.mdiv{
  flex-direction: column;
}
.rightdiv {
  padding: 30px;
white-space: wrap;
     input[type=text],
  select {
    padding:10px;
     width: 100%;
     text-align: left;
  }
}
.rightdiv h2 ,p{
  text-align: center;
}

}
}

@media (min-width: 1025px)  {



  #searchbar{
    display: block;
  }
  #logo
  {
    display: block;
  }
  .rightbar{
    display: block;
    display: flex;
  }

  nav{
  display: block;
  flex-direction: row;
}
.lowhead{
  display: block;
  display: flex;
}
.rightdiv{
  width: 300px;

}
.abtimg {
  width: 100%;
  height: 100%;
}

}